<div class="game">
    <div class="game-img">
        <img src="{{image}}" />
    </div>
    <div class="game-info">
        <h1>{{game}}</h1>
        <p><span>Platform: </span>{{platform}}</p>
        <p><span>Genre: </span>{{genge}}</p>
        <p><span>Price: </span>${{price}}</p>
    </div>

    <a href="/game/detail/{{_id}}" class="btn-details">Details</a>
</div>