<section class="create-form-container">
  <form action="/catalog/create" method="post">
    <h3>Create Book Review</h3>
    <label>Title</label>
    <input type="text" name="titleBook" class="box" id="" value="{{book.titleBook}}" />
    <label>Author</label>
    <input type="text" name="author" class="box" id="" value="{{book.author}}" />
    <label>Genre</label>
    <input type="text" name="genge" class="box" id="" value="{{book.genge}}" />
    <label>Stars</label>
    <input type="number" name="start" class="box" id="" value="{{book.start}}" />
    <label>Image</label>
    <input type="text" name="image" class="box" id="" value="{{book.image}}" />
    <label>Review</label>
    <textarea class="box" name="bookReview">{{book.bookReview}}</textarea>
    <input type="submit" value="Create" class="btn" />
  </form>
</section>