<!-- <title>Express Retake Exam January 2019</title> -->

<div class="container">
    {{#with}}
        <section class="details">
            <h1>Theater title: {{title}}</h1>
            <div>
                <img src="{{imgUrl}}" />
            </div>
        </section>

        <section class="details">
            <h3>Theater Description</h3>
            <p>{{description}}</p>
            <div class="buttons">
                {{#if isOwner}}
                    <a class="btn delete" href="/theat/delete/{{_id}}">Delete</a>
                    <a class="btn edit" href="/theat/edit/{{_id}}">Edit</a>
                {{else}}
                    {{#if !isLikes}}
                        <span class="liked">You have already liked this play!</span>
                    {{else}}
                        <a class="btn like" href="/theat/like/{{_id}}">Like</a>
                    {{/if}}
                {{/if}}
            </div>
        </section>
    {{/with}}
</div>